<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/forestHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/forest.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Forest Tea (Tsaang-gubat)</h1>
    <h3>Scientific Name: Carmona Retusa</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Forest tea is one of the 10 herbs that is endorsed the Philippine Department of Health (DOH) as an antispasmodic for abdominal (stomach) pains. And is registered as a herbal medicine at the Philippine Bureau of Food & Drug (BFAD).
Forest tea is a shrub (small tree) that grows (from 1 to 5 meters) abundantly in the Philippines. In folkloric medicine, the leaves has been used as a disinfectant wash during child birth, as cure for diarrhea, as tea for general good heath and because forest tea has high fluoride content, it is used as a mouth gargle for preventing tooth decay. Research and test now prove it's efficacy as an herbal medicine. Aside from the traditional way of taking forest tea, it is now available commercially in capsules, tablets and tea bags.

    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>Leaves, Roots</h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Diarrhea, boil the following amount of chopped leaves in 2 glasses of water for 15 minutes or until amount of water goes down to 1 glass. Cool and strain. Divide decoction into 4 parts. Let patient drink 1 part every 3 hours.
      <br> 
      Stomachach, washes leaves and chops. Boil chopped leaves in 1 glass of water for 15 minutes. Cool and filter, strain and drink.

    </h4>
  </div>
</div>
</div>
</ion-content>
