<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/seedHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/seed.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Seed-under-leaf (Sampa-sampalukan)</h1>
    <h3>Scientific Name: Phyllanthus Niruri</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Annual plant, up to 60 cm tall (but usually shorter), with round, smooth, green stems, erect or spreading, woody at the base. Leaves, compound, up to 18 cm long, with oval leaflets (4.5-9 mm long, 3-4.5 mm wide), alternating along the stem, and without stalks or with very short stalks. Flowers, small, greenish, short stalked, in pairs beneath the leaves, in the axils of the leaflets. They are either male or female. Fruits are smooth, green, with three cells; seeds are minute, wedge-shaped, brownish. Plants have thin, wiry taproots.
    <br> Studies showed that Sampa-sampalukan extract has antioxidant, hepatoprotective, gastroprotective, anti-hepatits B, anti-HIV, anti-urolithiatic, antidiabetic, anti-carcinogenic, and lipid lowering activities.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Leaves
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      There is a long history of use in Ayurvedic (Indian alternative medicine) healing practices, possibly for more than 2000 years. The plant is a component of herbal remedies, particularly for disorders of the digestive system, liver and kidneys. Also, a folk medicine of people of the Amazon. The entire plant is used to make chanca piedra, available in different forms (teas, liquids, capsules, tablets). It is perhaps best known as a cure of kidney stones. However, there are warnings on some Internet sites that a lack of research into the plant and its extracts means that safety and effectiveness cannot be assured.  
    </h4>
  </div>
</div>
</div>
</ion-content>
