<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/fiveHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/five.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Five-Leaved Chaste Tree (Lagundi)</h1>
    <h3>Scientific Name: Vitex Negundo</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Vitex negundo, commonly known as the "Five-leaved chaste tree" or "Nirgundi," is a shrub or small tree native to Southeast Asia. It belongs to the Lamiaceae family and is well-known for its medicinal uses in traditional systems of medicine. Additionally it is a shrub that grows in the Philippines. It is one of the ten herbal medicines endorsed by the Philippine Department of Health as an effective herbal medicine with proven therapeutic value.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The edible parts of Vitex negundo are primarily the leaves and tender shoots of the plant.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Lagundi leaves can be grated and steeped in boiling water. It can also be mixed with other herbal medicines. It is recommended to take a cup three times a day to relieve coughing. To relieve cough and effectively manage asthma symptoms, boil at least half a cup of Lagundi leaves in 2 cups of water.
    </h4>
  </div>
</div>
</div>
</ion-content>
