<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/garlicHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/garlic.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Garlic (Bawang)</h1>
    <h3>Scientific Name: Allium Sativum</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Garlic grows underground in the form of a bulb. (Its long green shoots produce flower stalks called garlic scapes, which can be eaten.) Covered in an inedible papery skin, the bulb, or head as it is more often referred to, is comprised of individual sections called cloves, and there can be anywhere from 10 to 20 cloves per head. These cloves are themselves enclosed in a paper like skin, which needs to be removed, and the pale yellowish flesh within is the part of the garlic that is used in cooking and can be cut in a variety of ways.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The edible part of garlic is primarily the bulb, which is made up of individual cloves. Each clove is covered in a thin papery skin, which is typically removed before consuming. The cloves themselves are the most commonly used part of garlic in cooking.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      May be fried, roasted, soaked in vinegar for 30 minutes or blanched in boiled Water for 5 minutes. Take 2 pieces three times a day after meals.
People commonly use garlic for high blood pressure, high levels of cholesterol or other fats in the blood, and hardening of the arteries. It is also used for the common cold, osteoarthritis, and many other conditions, but there is no good scientific evidence to support these uses. There is also no good evidence to support using garlic for COVID-19.

    </h4>
  </div>
</div>
</div>
</ion-content>
