<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/moringaHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/moringa.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Moringa (Malunggay)</h1>
    <h3>Scientific Name: Moringa Oleifera</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Moringa is an important food source in some parts of the world. It can be grown cheaply and easily, and retains much of its nutritional value when dried. As an antioxidant, it seems to help protect cells from damage. Moringa is a popular plant known for high nutritional value as well as an herbal medicine. Malunggay is a plant that grows in the tropical climates such as the Philippines, India and Africa. Malunggay is widely used as vegetable ingredient in cooking, as herbal medicine for a number of illness and other practical uses.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      All parts of the moringa tree – bark, pods, leaves, nuts, seeds, tubers, roots, and flowers – are edible. The leaves are used fresh or dried and ground into powder. The seed pods are picked while still green and eaten fresh or cooked.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>Moringa can either be taken in the form of tea, powder or capsules. Moringa oil when applied to the skin helps prevent acne and promotes wound healing due to its anti-inflammatory and antioxidant activity. Applying a paste of Moringa leaf powder also helps in joint pain</h4>
  </div>
</div>
</div>
</ion-content>
