<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/turmericHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/turmeric.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Turmeric (Luyang Dilaw)</h1>
    <h3>Scientific Name: Curcuma Longa</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Turmeric, a plant in the ginger family, is native to Southeast Asia and is grown commercially in that region, primarily in India. Its rhizome (underground stem) is used as a culinary spice and traditional medicine. Turmeric is a common spice and a major ingredient in curry powder. Curcumin is a major component of turmeric, and the activities of turmeric are commonly attributed to curcuminoids (curcumin and closely related substances). Curcumin gives turmeric its yellow color.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Although the turmeric plant is widely known for its edible roots, all parts of the plant including the leaves and flowers can be consumed.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      You can add turmeric powder to food. It's often used in dishes like curry, soups, and roasted meat. One of the most traditional ways to consume it is in a warm drink known as golden milk. While tasty, your body doesn't absorb turmeric very well from food.
    </h4>
  </div>
</div>
</div>
</ion-content>
