<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/blumeaHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/blumea.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Blumea Camphor (Sambong)</h1>
    <h3>Scientific Name: Blumea balsamifera</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Blumea camphor, also known as Blumea balsamifera or Sambong, is a species of plant in the Asteraceae family. It is native to Southeast Asia and is widely distributed in countries such as the Philippines, Indonesia, and Malaysia. Blumea is a genus of flowering plants of the family Asteraceae. Plants of this genus are mostly relatively small weeds; some are ruderal (growing on waste ground or among refuse) species. 
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>Leaves (fresh or dried) and young roots before flowering.</h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>Applied with a soft cloth over the nape, forehead, underarms and other body parts to bring down the body temperature. Sambong is also used to treat headache, sambong leaves are pounded and applied as a poultice over the forehead. Sambong tea are also used as herbal medicine for colds and coughs.</h4>
  </div>
</div>
</div>
</ion-content>
