<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/kingHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/king.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>King-of-Bitters (Sinta)</h1>
    <h3>Scientific Name: Andrographis Paniculata</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Andrographis paniculata, commonly known as king of bitters, is an herb traditionally used in Ayurveda and Traditional Chinese Medicine. Andrographis paniculata is used to treat the common cold. It is fairly effective when taken for three to five days after the symptoms first appear. However, there is limited human evidence for the effects of this herb, since research tends to focus on the combination therapy of Andrographis paniculata and Eleutherococcus senticosus, also known as Siberian ginseng, and not on Andrographis paniculata by itself.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The edible parts of the King of Bitters plant, Andrographis paniculata, are primarily the leaves and young shoots. The leaves are the most commonly used part of the plant for culinary and medicinal purposes. The leaves have a bitter taste, which is why the plant is referred to as "King of Bitters."
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      The leaves are boiled to drink as a tea or they are ground and mixed with honey to make a tablet. However, the herb has also been marketed in capsules, making it easier to consume.
    </h4>
  </div>
</div>
</div>
</ion-content>
