<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/mangosteenHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/mangosteen.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Mangosteen</h1>
    <h3>Scientific Name: Garcinia Mangostana</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Mangosteen, (Garcinia mangostana), also called purple mangosteen, handsome tropical tree (family Clusiaceae) native to Southeast Asia and cultivated for its tart-sweet fruit. The mangosteen fruit is highly valued for its juicy, delicate texture and slightly astringent flavour and is commonly eaten fresh, canned, or dried. The plant is used locally in traditional medicine and has been promoted as an alternative cancer treatment, but clinical studies in humans are lacking.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The seeds are soft and edible and do not need to be removed. In some cases, you might not even notice the seeds are there. Some people choose not to eat the seeds because they may be hard and bitter.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      To prepare, score the skin’s circumference with a sharp knife, being careful not to cut into the flesh. Peel or twist off the top and scoop out the segments. Try mangosteens in tropical fruit salads and desserts, or in a sorbet. Look for mangosteens with fresh green stems and avoid those with brown stems and skin imperfections. Wrap in newspaper to avoid bruising and keep in the refrigerator for up to two weeks.
    </h4>
  </div>
</div>
</div>
</ion-content>
