<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/oreganoHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/oregano.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Oregano</h1>
    <h3>Scientific Name: Origanum Vulgare</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Oregano (Origanum vulgare) is an herb used to flavor foods. It is considered safe in common food amounts, but has little evidence of health benefits. Oregano has olive-green leaves and purple flowers. It is closely related to other herbs, including mint, thyme, marjoram, and basil. Oregano contains chemicals that might help reduce cough. Oregano also might help with digestion and with fighting against some bacteria and viruses.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The part of an oregano plant we typically eat are the leaves, though the stems and flower buds are sometimes eaten as well. Oregano is primarily eaten dried, but fresh oregano leaves have a wonderful flavor, too.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
    1. bringing 1 cup of water to a boil.<br>
2. Pouring the boiling water over 2 teaspoons of dried oregano in a tea strainer<br>
3. let the mixture steep for 2 to 4 minutes.<br>
4. remove the strainer and sip.
    </h4>
  </div>
</div>
</div>
</ion-content>
