<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/catsHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/cats.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Cat's Whiskers (Balbas Pusa)</h1>
    <h3>Scientific Name: Orthosiphon Aristatus </h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Cat’s Whiskers is a tall, slender evergreen perennial growing up to 1.5 meters including the flower stalks. The spread is variable at 30 to 90cm per plant depending on home garden conditions. The dark green leaves are 5-10cm long, slightly glossy, narrowly ovate and deeply veined. They are held in pairs, end in points at each end and have coarsely toothed margins. The stems have a purple tone which seems to deepen closer to the flower whorls.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Cat Whisker plants are known for their edible leaves that can be used fresh or dried. Though edible raw, the dark green leaves are generally not consumed by themselves as they have a strong, grassy flavor and fibrous texture.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Let is steep for 10-15 minutes and then strain. Java Tea or Cat's Whiskers is often used in conjunction with other herbs recommended for kidney health. This plant has a long history of medicinal use and is considered to be anti-hypertensive, diuretic, anti-fungal, anti-bacterial, and anti-inflammatory.
    </h4>
  </div>
</div>
</div>
</ion-content>
