<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/ringwormHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/ringworm.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Ringworm Bush (Akapulko)</h1>
    <h3>Scientific Name: Senna Alata </h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Senna alata is a medicinal herb of Leguminosae family. It is distributed in the tropical and humid regions. The plant is traditionally used in the treatment of typhoid, diabetes, malaria, asthma, ringworms, tinea infections, scabies, blotch, herpes, and eczema. The review is aimed at unveiling the ethnobotanical description and pharmacological activities of S. alata. Different parts of the plant are reported in folk medicine as therapeutic substances for remediation of diverse diseases and infections. The extracts and isolated compounds displayed pronounced pharmacological activities.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
Flowers: The flowers of the Rangoon creeper are edible and can be consumed. They have a sweet and tangy flavor and are often used in salads or as a garnish for desserts<br>
Flower buds: The young flower buds of the Rangoon creeper are also edible. They can be used in pickling or cooked as a vegetable.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      The simple remedy for this irritating complaint is applying the leaf paste. Yes, the leaves of this bush can be ground into fine paste and applied locally with any vegetable oil twice or thrice a day according to the severity of the ringworm infection. Botanically, this plant is known as Senna alata
    </h4>
  </div>
</div>
</div>
</ion-content>
