<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/sourHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/sour.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Sour Orange (Dalandan)</h1>
    <h3>Scientific Name: Citrus × Aurantium</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Sour oranges are small to medium in size, averaging 7-8 centimeters in diameter, and are round to oval in shape. The rough skin transitions from green when young to red-orange when mature and is thick, aromatic, wrinkly, and bitter with small oil glands that create a slightly bumpy texture. Underneath the skin, the pale orange flesh is firm, contains a few to many small, inedible seeds, and is divided into 10-12 segments by thin, white membranes. With maturity, the center of the flesh may also become hollow. Sour oranges are juicy and acidic with an extremely bitter taste.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The edible portion of the fruit is known as the endocarp . It consists of a central fibrous core, individual segments, segments walls and an outer membrane. The segments contain juice vesicles , or juice sacs, that are held together by a waxy substance.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Sour oranges are almost never eaten out of hand or as a fresh fruit. They are used to make orange marmalade, sauces, chutney, candied fruit, pies, flavorings, and liqueurs such as Grand Marnier, curaçao, and Cointreau. Sour orange fruit and blossoms are used in China to make teas and herbal medicines.
    </h4>
  </div>
</div>
</div>
</ion-content>
