<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/rangoonHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/rangoon.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Rangoon Creeper (Niyug-niyugan)</h1>
    <h3>Scientific Name: Combretum Indicum</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      An extremely beautiful shrubby vine with pale-pink to deep crimson star shaped flowers that are borne in tight clusters, covering the entire plant when in full bloom. It's scent is unforgettable, sweet, fruity and intoxicating. Grows best at temperatures above 40 degrees. The fragrant flowers are born in clusters and each flower has many variations of color, depending on how old the flower is. The flower starts out white and or pink striped and turn solid pink and finally dark pink on maturity. Leaves - opposite, oblong or obovate. Flowers - short, axillary and terminal drooping racemes, white first and then rosy or scarlet, with a narrow tube. Fruit; oblong, with sharp angles, glabrous, black. Flowers and fruits during May to September. It will die back in lower temperatures but should come back in the spring. The most popular Thai hybrid has double flowers.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The fruits are edible and taste like almonds. Flowers are eaten in Thailand. The root, leaves and fruits have medicinal properties and are used for treating various ailments. The dried seeds of Rangoon Creeper are beneficial to treat intestinal worms and parasites
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      The dried seeds of Rangoon Creeper are beneficial to treat intestinal worms and parasites. In the Philippines, the fruits of Combretum Indicum are consumed to treat cough and crushed fruits and seeds are externally applied to alleviate nephritis. A decoction made from the leaves is prescribed for abdominal pain.
    </h4>
  </div>
</div>
</div>
</ion-content>
