<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/juteHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/jute.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Jute Mallow (Saluyot)</h1>
    <h3>Scientific Name: Corchorus Olitorius</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Jute mallow, also known as Nalta jute, Jew's mallow, or Corchorus olitorius, is a leafy green vegetable that is widely cultivated in tropical and subtropical regions. It is a member of the Malvaceae family and is related to okra and hibiscus. Jute mallow is primarily grown for its nutritious leaves, which are commonly used as a food source in various cuisines.aluyot can be found anywhere in the Philippines being hardy and requiring little maintenance. It grows abundantly in farmed environments as well as in the wild
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Leaves and tender stems are eaten boiled, stew, stir-fried, or in soup. Sticky leaf mass is used as vegetarian spread.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Saluyot is generally cooked as stew, creating a thick syrup comparable in consistency to okra normally taken with rice or other staple.You can enjoy jute leaves by adding them to stews and stir-fries. Alternatively, you can also enjoy them raw, which is just as healthy and delicious, by adding them to smoothies and salads.
    </h4>
  </div>
</div>
</div>
</ion-content>
