<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>


  <div class="main">

  <div class="mainContent">
  <div class="content">
    <img class="imgContent" src="../assets/images/forest.png">
    <h1>As a mouthwash</h1>
  </div>
  <div class="content">
    <h3>Description</h3>
    <h4>
      Aside from being an aid for alleviating arthritis and gout, Yerba Buena is an herbal plant in the Philippines that’s also used as a mouth wash to keep your breath fresh and your mouth clean. Surprisingly, Tsaang-Gubat shares this function with Yerba Buena, thanks to its antibacterial properties, which may slow down odor-causing bacteria in the mouth.


    </h4>
  </div>
</div>

<div class="mainContent">
  <div class="content">
    <img class="imgContent" src="../assets/images/moringa.png">
    <h1>As a lactation for breasfeeding mothers</h1>
  </div>
  <div class="content">
    <h3>Description</h3>
    <h4>
      Also known as the miracle tree, malunggay is a popular herb thanks to the sheer concentration of nutrients in its leaves. In addition to its role in nutrition boosts, malunggay is also popular for breastfeeding mothers, thanks to its ability to improve breastmilk production – making it one of the most well-known galactogogue in Asia.

    </h4>
  </div>
</div>

<div class="mainContent">
  <div class="content">
    <img class="imgContent" src="../assets/images/asthmaweed.png">
    <h1>As a dengue fever aid</h1>
  </div>
  <div class="content">
    <h3>Description</h3>
    <h4>
      As a tropical country, one of the leading disease burdens of the Philippines is dengue. In 2014, the Department of Health promoted Tawa-Tawa or the asthma plant as an effective treatment for dengue fever, thanks to its ability to increase platelet count. Today, Tawa-tawa is considered a valuable herbal medicine in the Philippines as it helps patients recover from dengue faster.
    </h4>
  </div>
</div>

<div class="mainContent">
  <div class="content">
    <img class="imgContent" src="../assets/images/five.png">
    <h1>As a tootache remedy</h1>
  </div>
  <div class="content">
    <h3>Description</h3>
    <h4>
      In addition to its ability to alleviate cough, Lagundi may also be used to ease toothaches. Let the patient drink a ½ glass of Lagundi decoction every three hours until the pain is abated.
    </h4>
  </div>
</div>
</div>

</ion-content>