<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/mintHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/mint.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Mint</h1>
    <h3>Scientific Name: Mentha</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Mint is a popular herb that may possess potential health benefits. This may include helping with digestive health, reducing allergic symptoms, and soothing common cold symptoms.<br> Mint or mentha belongs to the Lamiaceae family, which contains around 15–20 plant species, including peppermint and spearmint. It is a popular herb that people can use fresh or dried in many dishes and infusions. Manufacturers of toothpaste, gum, candy, and beauty products often use mint oil.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The leaves, tender stems, and flowers of the mint plant are safe to consume and all contain that minty taste you would expect, although the leaves have the strongest flavor.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Eating fresh or dried leaves: Used to treat bad breath. Inhaling essential oils: May improve brain function and cold symptoms. Applying it to the skin: Used to reduce nipple pain from breastfeeding. Taking capsules with food: May help treat IBS and indigestion.
    </h4>
  </div>
</div>
</div>
</ion-content>
