<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/gingerHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/ginger.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Ginger (Luya)</h1>
    <h3>Scientific Name: Zingiber Officinale</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Ginger (Zingiber officinale) is a flowering plant whose rhizome, ginger root or ginger, is widely used as a spice and a folk medicine.It is a herbaceous perennial which grows annual pseudo-stems (false stems made of the rolled bases of leaves) about one meter tall, bearing narrow leaf blades. The inflorescences bear flowers having pale yellow petals with purple edges, and arise directly from the rhizome on separate shoots.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Rhizome(commonly called root)
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Ginger root can be used as a tea, in capsules, or extracts. Some nutritional supplements may also contain Ginger as a digestive aid or flavoring.
    </h4>
  </div>
</div>
</div>
</ion-content>
