<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/paintedHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/painted.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Painted coleus (Mayana)</h1>
    <h3>Scientific Name: Coleus Scutellarioides</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Coleus blumei (Mayana) is one of the traditionally used folkloric medicine and is primarily used for pain, sore, swelling and cuts and in other instances as adjunct medication for delayed menstruation and diarrhea. This traditional uses of mayana are scientifically supported by studies here and abroad. Chemists form the University of the Philippines isolated sterols and triterpenes form the leaves of mayana and it exhibited analgesic, anti-inflammatory and antimicrobial activities.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The mayana plant is not edible. While eating the plant isn't likely to cause serious injury or illness, it is poisonous to humans. Its classification has changed several times, and some other classifications include Coleus blumei, Coleus pumilus, Plectranthus scutellarioides and Solenostemon scutellarioides.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Scientific studies here and abroad have isolated a mixture of analgesic compounds from the leaves of the mayana herb. Analgesic compounds help relieve pain. Thus if you have a painful headache, you can try crushing mayana leaves and applying them to your temple and nape.
    </h4>
  </div>
</div>
</div>
</ion-content>
