<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/asthmaweedHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/asthmaweed.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Asthma Weed (Tawa-Tawa)</h1>
    <h3>Scientific Name: Euphorbia hirta</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      "Asthma weed" is a common name for a plant called Euphorbia hirta, also known as "cat's hair" or "snake weed." Despite its name, this plant is not typically used to treat or manage asthma. In fact, it can have irritating effects on the respiratory system and may exacerbate asthma symptoms in some individuals.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>Tender young leaves and shoots </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      It has been used to treat fever in the Philippines as early as 1948. Its use as a treatment for dengue started only in the 1980s. The plant is either squeezed, crushed, or boiled, and is administered topically or orally.
    </h4>
  </div>
</div>
</div>
</ion-content>
