<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/queenHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/queen.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Queens Crape Myrtle (Banaba)</h1>
    <h3>Scientific Name: Lagerstroemia Speciosa</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      This is one of only a few deciduous trees which grow in tropical and subtropical areas of the country. A profusion of large, three-inch wide, bright pink to lavender blooms appear in dense, foot-long, terminal panicles from June to July, making queen's crape myrtle a spectacular specimen or street tree. This large, upright rounded, deciduous tree is clothed with 4 to 14-inch-long, dark green, oblong, leathery leaves which turn attractively red before falling in winter. Queen's crape myrtle can reach 30 to 60 feet in height and a spread of 30 to 40 feet. The attractive bark is smooth, mottled and peeling. In India, the wood is used for railroad ties and construction. The bark is thin and easily injured.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      All parts of Crape Myrtle plants are safe, including the foliage, bark, flowers, berries, and seed pods.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      The bark, flowers and leaves are considered to be hydrogogue and a drastic purgative. A paste of the flowers is applied externally to cuts and wounds. The root is astringent, detoxicant and diuretic. A decoction of the flowers is used in the treatment of colds.
    </h4>
  </div>
</div>
</div>
</ion-content>
