<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/bitterHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/bitter.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Bitter Gourd (Ampalaya)</h1>
    <h3>Scientific Name: Momordica Charantia</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Bitter gourd, also known as bitter melon or Momordica charantia, is a unique vegetable that is popular in various cuisines, particularly in Asian countries. It is characterized by its distinctive bumpy and elongated shape, and it typically has a green or yellowish-green color.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>Leaves, fruit, roots, stems. Both wild and cultivated forms are edible.</h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>You can steam, boil, stir-fry, braise, pickle, stuff, or curry bitter gourd for a variety of nutritious and delicious dishes.</h4>
  </div>
</div>
</div>
</ion-content>
