<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/lemongrassHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/lemongrass.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Lemongrass (Tanglad)
    </h1>
    <h3>Scientific Name: Cymbopogon</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      As its name suggests, lemongrass is a grass with botanical origins that stretch across South and Southeast Asia, from India and Sri Lanka to Indonesia and the Philippines. Also called Malabar grass, Cochin grass, or fever grass among many other names, lemongrass (Cymbopogon citratus) grows in large bushy clumps. Its stalks are woody and pale green with bulbous lighter-colored bases that are somewhat reminiscent of green onions. Used whole, chopped, or pummeled into a paste, lemongrass adds a light but complex flavor and aroma simultaneously lemony (hence the name), gingery, and floral to sauces, soups, and meats.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Leaves
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      You can use lemongrass whole, sliced or pounded to a paste. To use whole, slice off the very bottom of the stalk, and peel off any dried-out layers, then bash the woody top end with a rolling pin to soften, and help release some of the aromatic oils.
    </h4>
  </div>
</div>
</div>
</ion-content>
