<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/silverHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/silver.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Silver Bush (Ulasimang Bato)</h1>
    <h3>Scientific Name: Convolvulus Cneorum</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      A small spreading evergreen shrub to 60cm in height, with narrowly oblong, very silvery leaves and funnel-shaped white flowers tinged pink in bud, up to 4cm in width
Convolvulus cneorum, the silverbush or shrubby bindweed, is a species of flowering plant in the family Convolvulaceae, which contains many plants described as "bindweed". The Latin specific epithet cneorum is a word of Greek origin referring to a small olive-like plant, possibly a species of Daphne.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The Silver bush is not generally considered edible, and there is limited information available regarding its culinary uses.
 It is always important to verify the edibility of any plant before consuming it. If you are uncertain about a specific plant, it's best to consult a local expert, such as a botanist or a horticulturist, to ensure your safety.

    </h4>
  </div>
</div>
</div>
</ion-content>
