<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/gotuHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/gotu.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Gotu-kola (Takip Kuhol)</h1>
    <h3>Scientific Name: Centella Asiatica</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Gotu kola, a member of the parsley family, is highly regarded in India, perhaps as one of the most spiritual of all herbs. It grows in some areas of the Himalayas where it is used by yogis to improve meditation. It is said to develop the crown chakra which is the energy center at the top of the head and to balance the right and left hemispheres of the brain, which the leaf is said to resemble. It is also regarded as one of the most important rejuvenative herbs in Ayurvedic Medicine, where it enjoys the name "Brahmi", which is shared with another herb Bacopa.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      All parts of the Gotu Kola or Centella Asiatica plant are edible and possess medicinal qualities, including the root, bark, stem, flower and fruit, with the leaves being most commonly used in preparing healing concoctions.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      Take 500 mg of gotu kola twice a day for up to 14 days at a time. You can take up to 2,000 mg per day during times of intensified depression.
    </h4>
  </div>
  <div class="content">
    <h3>Added Information</h3>
    <h4>
      Gotu kola is generally well tolerated. In some cases, it can cause headache, upset stomach, and dizziness. Starting with a low dose and gradually working up to a full dose can help reduce your risk of side effects.

You should only take gotu kola for two to six weeks at a time. Be sure to take a two week break before resuming use.

When applied topically, gotu kola has the potential to cause skin irritation. You should always do a patch test before moving forward with a full application. Herbs aren’t monitored by the FDA and gotu kola has been found to have dangerous levels of heavy metals due to being grown in contaminated soil. Choose to buy products from reliable sources.
<br>
Don’t use gotu kola if you:
<br>
<br>
are pregnant<br>
are breastfeeding<br>
have hepatitis or other liver disease<br>
have a scheduled surgery within the next two weeks<br>
are under 18 years of age<br>
have a history of skin cancer<br>
<br>
Talk to your doctor before use if you:<br>
<br>

have liver disease<br>
have diabetes<br>
have high cholesterol<br>
are taking medications such as sedatives for sleep or anxiety<br>
are taking diuretics
    </h4>
  </div>
</div>
</div>
</ion-content>
