<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/blackHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/black1.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Black Currant Tree (Bignay)</h1>
    <h3>Scientific Name: Ribes Nigrum </h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      The black currant tree, also known as Ribes nigrum, is a deciduous shrub that belongs to the family Grossulariaceae. It is native to Europe and parts of Asia, but it is cultivated in various regions around the world. The black currant tree is known for its flavorful and nutritious fruits, which are commonly used in culinary preparations, such as jams, jellies, desserts, and beverages
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      The berries can be eaten raw or can be prepared in many different ways. The leaves can also be used for flavouring or to make various infusions.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      You can use dried black currant leaves but the fresh leaves are more potent. Drink the tea hot or chill it and serve with ice. If you prefer sweeter tea, add a little honey or other sweetener. Black currant leaf tea can also be used as a mouthwash.
    </h4>
  </div>
</div>
</div>
</ion-content>
