<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/guavaHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/guava.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Guava (Bayabas)</h1>
    <h3>Scientific Name: Psidium</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Guava, a tropical fruit produced in Venezuela, Mexico and Colombia is usually eaten fresh or made into beverages, while its skin and leaf are used as a home remedy during various conditions. Most people think that guava is associated with a person getting cold and this may be true. Moreover, these fruits also have health benefits. Guava is also helpful during dangerous health problems such as high blood pressure, diarrhoea, diabetes, cough and different types of cancer. In fact, it is so good for diabetes that it can be included in your Diabetes Diet Plan.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Every part of a guava is edible, including the flesh, the seeds, and also the rind. Some people choose to remove the seeds and rind, leaving only the juicy flesh, but a guava is far more nutritious if you eat the whole thing. Just make sure you rinse the rind well to remove any wax.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      By drinking just the boiled water of guava leaves, your skin will get a rich dose of vitamin C and powerful antioxidants. They kill the free radicals that weaken our hair roots and give us blackheads, whiteheads, pimples, etc. The presence of healthy vitamins works in favour of reducing our ageing signs.
    </h4>
  </div>
</div>
</div>
</ion-content>
