<ion-content>
  <div class="header">
    <ion-button (click)="Back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="main">

  <div class="imgHeader">
    <img src="../assets/images/holyHeader.jpg">
    
  </div>
  <div class="img">
    <img src="../assets/images/holy.png">
</div>

  <div class="mainContent">
  <div class="content">
    <h1>Holy Basil (Sulasi)</h1>
    <h3>Scientific Name: Ocimum Tenuiflorum</h3>
  </div>
  <div class="content">
    <h3>Plant Description</h3>
    <h4>
      Holy basil is sometimes called "hot basil" because of its peppery taste. Chemicals in holy basil are thought to decrease pain and swelling. They also might lower blood sugar in people with diabetes. Holy basil oil might act as an antioxidant.
    </h4>
  </div>
  <div class="content">
    <h3>Edible Parts</h3>
    <h4>
      Holy basil has many edible parts, the flowers, leaves, seeds, and extract can all be used medicinally. The fresh flowers are used to treat bronchitis, the leaves and seeds are used to treat malaria, and extracts can be used for stomach ulcers and eye diseases. The entire plant can be used to treat nausea and vomiting.
    </h4>
  </div>
  <div class="content">
    <h3>How to Use</h3>
    <h4>
      When used as a treatment, the recommended dosage is 600 mg to 1,800 mg taken in multiple doses throughout the day. All parts of the plant might be used in supplements and topical ointments. Essential oil of holy basil is distilled from leaves and flowers of the plant.
    </h4>
  </div>
</div>
</div>
</ion-content>
